*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 400 16px "Cerebri Sans", Helvetica, Arial, sans-serif;
  background-color: $lightPurple;
  color: $black;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.msg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  color: $purple;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}